server:
  port: 8082

spring:
  application:
    name: Enlace

  datasource:
    url: jdbc:mysql://localhost:3306/enlace?useSSL=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

jwt:
  secret:
    key: 8ebc070bb4a53120cd451cf58f4f48067decc4077a4b8d1f2a6632305cc4c299
  time:
    expiration: 86400000 # 1 day in milliseconds